{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}



{% block title %}KKnyga{% endblock %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

{% block page_content %}
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
    {% javascripts '@AppBundle/Resources/scripts/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
