{% extends '::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header with-border">
            <div class="btn-grp box-tools pull-left" style="position: static">
                {% if prevLesson != null %}
                    <a href="{{ path('lesson', { 'lesson': prevLesson.id }) }}" class="btn btn-default"><i
                                class="fa fa-arrow-left"></i></a>
                {% endif %}
                <h3 class="box-title inline">{{ lesson.startTime|date('H:i') }} - {{ lesson.classInfo.name }}</h3>
                {% if nextLesson != null %}
                    <a href="{{ path('lesson', { 'lesson': nextLesson.id }) }}" class="btn btn-default"><i
                                class="fa fa-arrow-right"></i></a>
                {% endif %}
            </div>
            <div class="box-tools pull-right" style="position: static">
                <select class="activity-select">
                    {% for activity in activities %}
                        <option data-activityId="{{ activity.id }}">{{ activity.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="box-body">
            {% include 'AppBundle:Lesson:view.inc.html.twig' %}
        </div>
    </div>
{% endblock %}
