<ul class="list-group no-margin student-list-group hidden">
	{{ form_start(form) }}
	{% for student in students %}
		<li class="list-group-item">
			<div class="container-fluid">
				<div class="col-xs-6">
					<div class="row">
						<a href="{{ path('profile', {'studentInfo': student.id}) }}">{{ loop.index }}. {{ student.name }}</a>
					</div>
					{% for activity in activities %}
						<div class="row activity-change hidden" data-activityId="{{ activity.id }}">
						Paskutinis rezultatas:
						{% if results[student.id][activity.id] is defined %}
							{{ results[student.id][activity.id] }}
						{% else %}
							nėra
						{% endif %}
					</div>
					{% endfor %}
				</div>
				<div class="col-xs-6">
					<div class="input-group result-input pull-right">
						{{ form_widget(form.results[loop.index0].value) }}
						{{ form_widget(form.results[loop.index0].activity, {attr: {class: 'result-activityId'}}) }}
						{{ form_widget(form.results[loop.index0].studentInfo, {value: student.id }) }}
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
	<input type="submit" class="btn btn-block" value="Irašyti"/>
	{{ form_end(form) }}
</ul>

