{% if students is empty %}
	<div class="alert alert-danger no-margin" role="alert">Mokinių nėra</div>
{% else %}
	{{ form_start(form) }}
	{% for activity in activities %}
		<ul class="list-group no-margin student-list-group hidden activity-change" data-activityId="{{ activity.id }}">
		{% for student in students %}
			<li class="list-group-item">
				<div class="container-fluid">
					<div class="col-xs-8">
						<div class="row">
							<a href="{{ path('student_view', {'studentInfo': student.id}) }}">{{ loop.index }}
								. {{ student.name }}</a>
						</div>
						<div class="row">
							Paskutinis rezultatas:
							{% if results[student.id][activity.id] is defined %}
								{{ results[student.id][activity.id] }} {{ activity.units }}
							{% else %}
								nėra
							{% endif %}
						</div>
					</div>
					<div class="col-xs-4">
						<div class="input-group result-input pull-right">
							{{ form_widget(form.activities[loop.parent.loop.index0].results[loop.index0].value, {attr: {class: 'form-control'}}) }}
							{{ form_widget(form.activities[loop.parent.loop.index0].results[loop.index0].activity) }}
							{{ form_widget(form.activities[loop.parent.loop.index0].results[loop.index0].studentInfo) }}
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
		<input type="submit" class="btn btn-block" value="Irašyti"/>
		</ul>
	{% endfor %}
	{{ form_end(form) }}
{% endif %}