{% extends 'base-login.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block page_content %}
    <body class="hold-transition register-page">
    <div class="register-box">
        {% include ':inc:logo.html.twig' %}

        <div class="register-box-body">
            <p class="login-box-msg">Registracija</p>
                {{ form_start(form) }}
                    <div class="form-group has-feedback">
                        {{ form_widget(form.name, {attr: {'class': 'form-control', 'placeholder': form.name.vars.label}}) }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.email, {attr: {'class': 'form-control', 'placeholder': form.email.vars.label}}) }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.plainPassword.first, {attr: {'class': 'form-control', 'placeholder': form.plainPassword.first.vars.label}}) }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.plainPassword.second, {attr: {'class': 'form-control', 'placeholder': form.plainPassword.second.vars.label}}) }}
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    <div>
                        <input formnovalidate class="btn btn-primary btn-block btn-flat" type="submit" value="{{ 'Register'|trans }}" />
                    </div>
                {{ form_end(form) }}

            <div class="social-auth-links text-center">
                <p>- ARBA -</p>
                {% for owner in hwi_oauth_resource_owners() %}
                    <a href="{{ hwi_oauth_login_url(owner) }}"
                       class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>
                        Prisijungti su Facebook</a>
                    <a href="{{ hwi_oauth_login_url(owner) }}"
                       class="btn btn-block btn-social btn-google"><i class="fa fa-google-plus"></i>
                        Prisijungti su Google+</a>
                {% endfor %}
            </div>
            <a href="{{ path('hwi_oauth_connect') }}" class="text-center">Prisijungti</a>
        </div>
    </div>
    <!-- /.register-box -->


    </body>

{% endblock page_content %}


