<a href="#" class="logo">
    KKnyga
</a>
<nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <nav class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <img src="{{ profile_picture() }}" alt="" class="user-image">
                    <span class="hidden-xs">{{ profile_name() }}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="{{ profile_picture() }}" class="img-circle" alt="User Image">

                        <p>
                            {{ profile_name() }}
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ path('user_profile') }}" class="btn btn-default btn-flat">Profilis</a>
                        </div>
                        <div class="pull-right">
                            <a href="/logout" class="btn btn-default btn-flat">Atsijungti</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>


</nav>


