<section class="sidebar">
    <ul class="sidebar-menu">
        <li id="menu-homepage">
            <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> <span>Pradžia</span></a>
        </li>
        <li id="menu-current">
            <a href="{{ path('current') }}"><i class="fa fa-clock-o"></i> <span>Dabartinė pamoka</span></a>
        </li>
        <li id="menu-classes">
            <a href="{{ path('class_view') }}"><i class="fa fa-users"></i> <span>Mano klasės</span></a>
        </li>
        <li id="menu-schedule">
            <a href="{{ path('schedule') }}"><i class="fa fa-calendar"></i> <span>Tvarkaraštis</span></a>
        </li>
        <li id="menu-activities">
            <a href="{{ path('activities_list') }}"><i class="fa fa-book"></i> <span>Rungčių sąrašas</span></a>
        </li>
        <li id="menu-results">
            <a href="{{ path('result_create') }}" class="modal-button"><i class="fa fa-plus"></i> <span>Rezultato pridėjimas</span></a>
        </li>
        <li id="menu-result-top">
            <a href="{{ path('result_top') }}"><i class="fa fa-trophy"></i> <span>Geriausi mokiniai</span></a>
        </li>
    </ul>
</section>
