{% extends '::base.html.twig' %}

{% block title %}KKnyga{% endblock %}

{% block page_title %}Mokinio profilis{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
	<div class="container-fluid text-center">
		<div class="col-lg-4">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Pagrindinė informacija</h3>
				</div>
				<div class="box-body">
					{% image '@AppBundle/Resources/images/default_user_image.png' %}
					<img src="{{ asset_url }}" class="img-rounded img-profile"/>
					{% endimage %}
					<div class="row">
						<h4>{{ student.name }}</h4>
					</div>
					<div class="row">
						Gimimo data: {{ student.birthDate|date("Y-m-d") }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Geriausi rezultatai</h3>
				</div>
				<div class="box-body no-padding">
					{% if bestResults is not empty %}
						<table class="table table-striped">
							<tr>
								<th class="text-center">Rungtis</th>
								<th class="text-center">Rezultatas</th>
							</tr>
							{% for bestResult in bestResults %}
								<tr>
									<td>{{ bestResult.result.activity.name }}</td>
									<td>{{ bestResult.max_value }}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<div class="alert alert-danger no-margin" role="alert">Rezultatų nėra</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Palyginimai</h3>
					<div class="box-tools pull-right" style="position: static">
						<select class="activity-select">
							<option selected disabled>Pasirinkite rungtį</option>
							{% for activity in activities %}
								<option data-activityId="{{ activity.id }}">{{ activity.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="box-body no-padding">
					{% for activity in activities %}
						{% if allResults[activity.id] is defined %}
							<table class="table table-striped activity-change hidden"
							       data-activityId="{{ activity.id }}">
								<tr>
									<th class="text-center">Data</th>
									<th class="text-center">Rezultatas</th>
									<th class="text-center">Veiksmai</th>
								</tr>
								{% for result in allResults[activity.id] %}
									<tr>
										<td>{{ result.timestamp|date("Y-m-d H:m:s") }}</td>
										<td>{{ result.value }}</td>
										<td>
											<a href="{{ path('result_edit', {'result': result.id}) }}" class="btn btn-danger btn-xs modal-button">
												<span class="fa fa-edit"></span>
											</a>
											<a href="{{ path('result_delete', {'result': result.id}) }}" class="btn btn-danger btn-xs">
												<span class="fa fa-close"></span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</table>

						{% else %}
							<div class="alert alert-danger activity-change no-margin hidden" role="alert"
							     data-activityId="{{ activity.id }}">Rezultatų nėra
							</div>
						{% endif %}
					{% endfor %}
					<a href="{{ path('result_create', {'studentInfo': student.id}) }}" class="btn btn-danger btn-block modal-button">
						<span class="fa fa-plus"></span>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
