{% extends '::base.html.twig' %}

{% block page_title %}Mano klasės{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-book"></i>
                    <h3 class="box-title">Klasių sąrašas</h3>
                </div>
                <div class="box-body text-center">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Pavadinimas</th>
                            <th class="text-center">Veiksmai</th>
                        </tr>
                        {% for class in classes %}
                            <tr>
                                <td><a href="{{ path('class_view', {'classInfo': class.id}) }}">{{ class.name }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('class_edit', {'classInfo': class.id}) }}"
                                       class="btn btn-danger btn-xs modal-button">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a href="{{ path('class_delete', {'classInfo': class.id}) }}"
                                       class="btn btn-danger btn-xs">
                                        <span class="fa fa-close"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a href="{{ path('class_create') }}" class="btn btn-danger btn-block modal-button">
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            {% if class is not null %}
                <div class="box">
                    <div class="box-header with-border">
                        <i class="fa fa-users"></i>
                        <h3 class="box-title">{{ class.name }} mokiniai</h3>
                    </div>
                    <div class="box-body text-center">
                        {% if class.students is not empty %}
                        <table class="table table-striped">
                            <tr>
                                <th class="text-center">Vardas Pavardė</th>
                                <th class="text-center">Gimimo data</th>
                                <th class="text-center">Prisijungimo kodas</th>
                                <th class="text-center">Veiksmai</th>
                            </tr>
                            {% for student in class.students %}
                                <tr>
                                    <td>
                                        <a href="{{ path('student_view', {'studentInfo': student.id}) }}">{{ student.name }}</a>
                                    </td>
                                    <td>
                                        {{ student.birthDate|date("Y-m-d") }}
                                    </td>
                                    <td>
                                        {{ student.joinCode }}
                                    </td>
                                    <td>
                                        <a href="{{ path('student_edit', {'studentInfo': student.id}) }}"
                                           class="btn btn-danger btn-xs modal-button">
                                            <span class="fa fa-edit"></span>
                                        </a>
                                        <a href="{{ path('student_delete', {'studentInfo': student.id}) }}"
                                           class="btn btn-danger btn-xs">
                                            <span class="fa fa-close"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <div class="alert alert-danger no-margin" role="alert">Mokinių nėra</div>
                            {% endif %}
                        </table>
                        <a href="{{ path('student_create', {'classInfo': class.id}) }}"
                           class="btn btn-danger btn-block modal-button">
                            <span class="fa fa-plus"></span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}



